[Unit]
Description=Telrad Relay
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/lib/telrad-relay/telrad run
Restart=always
RestartSec=5
User=telrad-relay
Group=telrad-relay
StateDirectory=telrad-relay
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/etc/telrad-relay /var/lib/telrad-relay

[Install]
WantedBy=multi-user.target
